---
import PageHeader from "@components/PageHeader.astro";
import Shape from "@components/Shape.astro";
import Identitas from "../layouts/components/about/Identitas.astro"
import CounterComponent from "@components/about/CounterComponent.astro";
import Gallery from "@components/about/Gallery.astro";
import OurMembers from "@components/about/OurMembers.astro";
import Works from "@components/about/Works.astro";
import Base from "@layouts/Base.astro";
import { getEntryBySlug } from "astro:content";

const profil = await getEntryBySlug("about", "index");
const { counter, gallery, features, members } = profil.data;
const page_data = {
  ...profil.data,
  content: profil.body,
};
---

<Base
  title={profil.data.title}
  meta_title={profil.data.meta_title}
  description={profil.data.description}
  image={profil.data.image}
>
  <Shape />
  <section class="page-hero py-16">
    <div class="container">
      <div class="page-hero-content mx-auto max-w-[768px] text-center">
        <PageHeader page_data={page_data} />
      </div>
      <!-- <CounterComponent counter={counter} /> -->
      <!-- benifit -->
      <!-- gellary -->
      <Gallery gallery={gallery} />
      <!-- our works -->
      <!-- <Works features={features} /> -->
      <!-- our members -->
      <OurMembers members={members} />
    </div>
  </section>
</Base>
